*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    background-color: blue;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}

.header_flex{
    display: flex;
    justify-content: space-between;
}

.left_logo, .right_menu{
    height: 100px;
    width: 100px;
    background-color: yellow;
    margin: 10px;
}

.right_menu{
    float: right;
}

.hamburger, .extended_menu{
    width: 100%;
    height: 100%;
}

.extended_menu{
    background-color: red;
    display: none;
}

.hamburger{
    background-color: green;
}

/* MAIN */
section{
    padding: 30px 0 30px 0;
}
/* SECTION 1 */
.row{
    display: flex;
    flex-direction: column;
}

.big_col, .col_30{
    width: calc(100% - 20px);
    height: 300px;
    background-color: red;
    margin: 10px;
}

.content{
    background-color: lightblue;
    border-radius: 20px;
}

.flex{
    display: flex;
    flex-direction: column;
}

/* .content div{
    padding: 10px;
}

.rigth_content img{
    max-width: 100%;
} */

/* SECTION 2 */
.col_50{
    width: calc(100% - 20px);
    height: 300px;
    margin: 10px;
    background-color: blue;
}

.violet{
    background-color: rgba(151,146,228,1);
}

/* SECTION 3 */
.col_33{
    width: calc(100% - 20px);
    height: 300px;
    margin: 10px;
    background-color: green;
}

/* SECTION 4 */
.col_30_2{
    width: calc(100% - 20px);
    height: 300px;
    background-color: red;
    margin: 10px;
}

/* SECTION 5 */

/* SECTION 6 */

/* FOOTER */
footer{
    background-color: rgba(51,51,51,1);
}


/* RESPONSIVITY */
/* TABLET */
@media screen and (min-width: 768px){
    .container{
        max-width: 750px;
    }

    .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .big_col{
        width: calc(100% / 3 * 2 - 20px);
    }

    .col_30{
        width: calc(100% / 3 - 20px);
    }

    .col_30_2{
        width: calc(100% / 2 - 20px);
    }
}


/* DESKTOP */
@media screen and (min-width: 991px){
    .container{
        max-width: 950px;
    }

    .extended_menu{
        display: block;
    }

    .hamburger{
        display: none;
    }

    .col_50{
        width: calc(100% / 2 - 20px);
    }

    .col_30_2{
        width: calc(100% / 3 - 20px);
    }
}


/* LARGE DESKTOP */
@media screen and (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}